*{
    padding: 0px;
    margin: 0px;
}

.contenedor-principal{
    width: 90%;
    min-width: 600px;
    background: red;
    height: 300px;
    margin: 0 auto;
}

header{
    width: 100%;
    height: 200px;
    background: blue;
}
.div-cabecera{
    width: 50%;
    height: 150px;
    float: left;
}
.div-cabecera img{
    width: 80%;
    height: 150px;
}

/*  ------------   Menu   -------------------  */
nav{
    width: 100%;
    height: 50px;
    background: bisque;
    text-align: center;
    line-height: 50px;
    
}
.menu{
    list-style: none;
}

.menu > li {
    display: inline-block;
    /*background: blueviolet;
    border-radius: 10px;*/
}
.menu > li  a{
    text-decoration: none;
    color: black; 
    font-size: 20px;
}
.menu :hover{
    color:white;
    background: black; 
    font-size: 20px;
    height: 30px;
    border-radius: 10px;
    line-height: 30px;
}

/* -------------------- section-------------/*/
section{
    float: left;
    width: 70%;
    height: 500px;
}
.noticia {
    width: 25%;
    height: 300px;
    float: left;
    background: red;
}
.noticia img{
    width: 80%;
    height: 150px;
}

.nacionales{
    width: 80%;
    height: 300px;
    background: dimgrey;
    margin: 0 auto;
}
.nacionales div{
    float: left;
    width: 50%;
    height: 200px;
}
.nacionales div img{
    width: 80%;
    height: 180px;
}



/*   ------------aside-*/
aside{
    width: 30%;
    height: 500px;
    background: burlywood;
    float: left;
}